
resources:
- type: compute.v1.instance
  name: createlinuxvm
  properties:
    zone: us-central1-f
    machineType: https://www.googleapis.com/compute/v1/projects/dryicepoc-242713/zones/us-central1-f/machineTypes/n1-standard-4
    # For examples on how to use startup scripts on an instance, see:
    #   https://cloud.google.com/compute/docs/startupscript
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        diskName: disk-linuxvm
        sourceImage: https://www.googleapis.com/compute/v1/projects/rhel-cloud/global/images/rhel-7-v20201112
    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/dryicepoc-242713/global/networks/default
      # Access Config required to give the instance a public IP address
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
	  metadata:
      items:
      - key: startup-script
         value: gs://dryiceiautomate/install-web.sh
    tags:
      items:
        - http
    metadata:
      items:
      - key: startup-script-url
        value: gs://dryiceiautomate/install-web.sh
	tags:
      items:
      - http
    serviceAccounts:
    - email: siddharth-c@dryicepoc-242713.iam.gserviceaccount.com
      scopes:
      - https://www.googleapis.com/auth/devstorage.read_only
      - https://www.googleapis.com/auth/logging.write
      - https://www.googleapis.com/auth/monitoring.write
      - https://www.googleapis.com/auth/servicecontrol
      - https://www.googleapis.com/auth/service.management.readonly
      - https://www.googleapis.com/auth/trace.append
- type: compute.v1.firewall
  name: default-allow-http
  properties:
    network: https://www.googleapis.com/compute/v1/projects/dryicepoc-242713/global/networks/default
    targetTags: 
    - http
    allowed:
    - IPProtocol: tcp
      ports: 
      - '8052'
    sourceRanges: 
    - 0.0.0.0/0 
